.single{
    display: flex;

    .singleContainer{
        flex: 6;

        .top{
            padding: 20px;
            display: flex;
            gap: 20px;

            .left{
                flex: 1;
                box-shadow: 2px 3px 5px 0px rgba(154,129,129,0.71);
                -webkit-box-shadow: 2px 3px 5px 0px rgba(154,129,129,0.71);
                -moz-box-shadow: 2px 3px 5px 0px rgba(154,129,129,0.71);
                padding: 20px;
                position: relative;

                .editButton{
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px;
                    font-size: 12px;
                    color: purple;
                    background-color: rgba(128, 0, 128, 0.183);
                    cursor: pointer;
                    border-radius: 0px 0px 0px 5px;
                }

                .title{
                    font-weight: 500;
                    color: gray;
                    font-size: 20px;
                }
                .item{
                    display: flex;
                    gap: 20px;

                    .itemImg{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .details{
                        .itemTitle{
                            margin-bottom: 10px;
                            font-size: 25px;
                        }
                        .detailItem{
                            margin-bottom: 10px;
                            font-size: 15px;

                            .itemKey{
                                font-weight: bold;
                                color: gray;
                            }
                            .itemValue{
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
            .right{
                flex: 2;
                box-shadow: 2px 3px 5px 0px rgba(154,129,129,0.71);
                -webkit-box-shadow: 2px 3px 5px 0px rgba(154,129,129,0.71);
                -moz-box-shadow: 2px 3px 5px 0px rgba(154,129,129,0.71);
            }
        }
        .bottom{
            padding: 20px;

            .title{
                color: gray;
                font-size: 20px;
                margin-bottom: 5px;
            }
        }
    }
}