.home{
    display: flex;

    .homeContainer{
        flex: 6;

        .widgets, .charts{
            display: flex;
            padding: 20px;
            gap: 20px;
        }

        .charts{
            padding:5px 20px ;
        }

        .listContainer{
            box-shadow: 2px 3px 5px 0px rgba(154,129,129,0.71);
            -webkit-box-shadow: 2px 3px 5px 0px rgba(154,129,129,0.71);
            -moz-box-shadow: 2px 3px 5px 0px rgba(154,129,129,0.71);
            padding: 20px;
            margin: 20px;

            .listTitle{
                font-weight: 500;
                color: gray;
                margin-bottom: 15px;
            }
        }
    }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
