.new{
    display: flex;

    .newContainer{
        flex: 6;

        .top, .bottom{
            box-shadow: 2px 3px 5px 0px rgba(154,129,129,0.71);
            -webkit-box-shadow: 2px 3px 5px 0px rgba(154,129,129,0.71);
            -moz-box-shadow: 2px 3px 5px 0px rgba(154,129,129,0.71);
            padding: 10px;
            margin: 20px;
            display: flex;

            .title{
                font-size: 20px;
                color: lightgrey;
            }

            .left{
                flex: 1;
                text-align: center;

                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .right{
                flex: 2;

                form{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: space-around;

                    .formInput{
                        width: 40%;

                        label{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            
                            .icon{
                                cursor: pointer;
                            }
                        }

                        input{
                            width: 100%;
                            border: none;
                            padding: 10px;
                            border-bottom: 1px solid gray;
                        }
                    }

                    button{
                        width: 150px;
                        padding: 10px;
                        border: none;
                        background-color: teal;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                    }

                    
                }
            }
        }
    }
}